.app {
  background-color: #202020;
  max-height: 100%;
  margin: 0 auto;
  max-width: 1280px;
}

@media screen and (max-width: 768px) {
  .app{

    max-width: 768px;
    position: relative;
  }
}

.btn {
  border: 2px, red, solid;
  display: inline-block;
  flex-direction: column;
  background-color: rgb(66, 184, 109);
  text-decoration: none;
  padding: 10px;
  color: white;
}

.lol {
  font-size: 50px;
}